* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.hero {
  height: 100vh;
  background-color: $primaryColor;
  background-image: url("../assets/img/image 17.png");
  background-position: center;
  position: relative;

  .navbar {
    max-width: 1190px;
    @include flex(space-between, center, 0px);
    margin: 0px auto;
    padding: 32px 10px;

    .nav-logo {
      @include flex(flex-start, center, 5px);

      .dialect {
        color: $secondaryColor;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        text-decoration: none;
      }
    }

    .nav-listing {
      @include flex(flex-start, center, 38px);
      max-width: 400px;
      color: $secondaryColor;

      .nav-a {
        text-decoration: none;

        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: $secondaryColor;
      }
    }

    .nav-btn {
      @include flex(flex-start, center, 20px);

      .btn {
        padding: 8px 24px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
      }
      .login {
        color: $secondaryColor;
        background-color: transparent;
        border: 1px solid $secondaryColor;
        border-radius: 4px;
      }

      .signup {
        color: white;
        background-color: $secondaryColor;
        border: 1px solid $secondaryColor;
        border-radius: 4px;
      }
    }
  }

  .hero-main {
    @include flex(center, center, 0px, column);
    padding: 64px 358px 100px;

    .dialect-brings {
      background-color: white;
      padding: 16px 38px;
      color: $secondaryColor;
      font-weight: 500;
      font-size: 72px;
      line-height: 82px;
      text-align: center;
      border-radius: 22px;
    }

    .hero-text {
      @include flex(flex-start, flex-start, 20px);

      .language {
        margin-top: 20px;
        color: $secondaryColor;
        background-color: $langColor;
        padding: 16px 38px;
        font-weight: 700;
        font-style: Bold;
        font-size: 72px;
        line-height: 82px;
        text-align: center;
        border-radius: 22px;
      }

      .learning {
        margin-top: 20px;
        background-color: white;
        padding: 16px 38px;
        color: $secondaryColor;
        font-weight: 500;
        font-size: 72px;
        line-height: 82px;
        text-align: center;
        border-radius: 22px;
      }
    }
    .hero-p {
      margin-top: 28px;
      max-width: 570px;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      text-align: center;
    }

    .hero-buttons {
      @include flex(flex-start, flex-start, 20px);
      margin-top: 48px;

      .spanish-btn {
        border: none;
        background-color: white;
        padding: 16px 20px;
        border-radius: 6px;
        @include flex(flex-start, center, 0px);
        .flag {
          margin-right: 8px;
        }

        .spanish {
          color: $secondaryColor;
          margin-right: 38px;
          font-weight: 400;
          font-size: 18px;
          line-height: 28px;
          text-align: center;
        }
      }

      .start {
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        border: none;
        border-radius: 6px;
        color: white;
        background-color: $secondaryColor;
        padding: 16px 36px;
      }
    }
  }

  .earth {
    position: absolute;
    top: 170px;
    left: 204px;
  }

  .happyface {
    position: absolute;
    right: 82px;
    bottom: 312px;
  }

  .uniona {
    position: absolute;
    left: 190px;
    top: 574px;
  }

  .unionx {
    position: absolute;
    top: 606px;
    right: 236px;
  }
}

.about {
  margin: 170px 126px 0px;
  padding: 0px 10px;

  .about-main {
    max-width: 1170px;
    @include flex(space-between, center, 0px);
    .about-text {
      max-width: 570px;
      .about-heading {
        color: $secondaryColor;
        font-weight: 700;
        font-size: 46px;
        line-height: 52px;

        .about-span {
          color: $primaryColor;
        }
      }

      .about-firstp {
        margin-top: 20px;
        color: $thirdColor;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
      }

      .about-secondp {
        margin-top: 16px;
        color: $thirdColor;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
      }
    }
  }
}
