$primaryColor: #5ce4ca;
$secondaryColor: #003d31;
$thirdColor: #596966;
$langColor: #fffaa4;
$cardColor: #fffae9;
$bannerColor: #ff7d7d;
$lineColor: #dee5e4;
$line2Color: #e7ddbd;
$whiteColor: white;
