* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.hero {
  height: 100vh;
  background-color: #5ce4ca;
  background-image: url("../assets/img/image 17.png");
  background-position: center;
  position: relative;
}
.hero .navbar {
  max-width: 1190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0px auto;
  padding: 32px 10px;
}
.hero .navbar .nav-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.hero .navbar .nav-logo .dialect {
  color: #003d31;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-decoration: none;
}
.hero .navbar .nav-listing {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 38px;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 400px;
  color: #003d31;
}
.hero .navbar .nav-listing .nav-a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #003d31;
}
.hero .navbar .nav-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.hero .navbar .nav-btn .btn {
  padding: 8px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.hero .navbar .nav-btn .login {
  color: #003d31;
  background-color: transparent;
  border: 1px solid #003d31;
  border-radius: 4px;
}
.hero .navbar .nav-btn .signup {
  color: white;
  background-color: #003d31;
  border: 1px solid #003d31;
  border-radius: 4px;
}
.hero .hero-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 64px 358px 100px;
}
.hero .hero-main .dialect-brings {
  background-color: white;
  padding: 16px 38px;
  color: #003d31;
  font-weight: 500;
  font-size: 72px;
  line-height: 82px;
  text-align: center;
  border-radius: 22px;
}
.hero .hero-main .hero-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.hero .hero-main .hero-text .language {
  margin-top: 20px;
  color: #003d31;
  background-color: #fffaa4;
  padding: 16px 38px;
  font-weight: 700;
  font-style: Bold;
  font-size: 72px;
  line-height: 82px;
  text-align: center;
  border-radius: 22px;
}
.hero .hero-main .hero-text .learning {
  margin-top: 20px;
  background-color: white;
  padding: 16px 38px;
  color: #003d31;
  font-weight: 500;
  font-size: 72px;
  line-height: 82px;
  text-align: center;
  border-radius: 22px;
}
.hero .hero-main .hero-p {
  margin-top: 28px;
  max-width: 570px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}
.hero .hero-main .hero-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 48px;
}
.hero .hero-main .hero-buttons .spanish-btn {
  border: none;
  background-color: white;
  padding: 16px 20px;
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.hero .hero-main .hero-buttons .spanish-btn .flag {
  margin-right: 8px;
}
.hero .hero-main .hero-buttons .spanish-btn .spanish {
  color: #003d31;
  margin-right: 38px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}
.hero .hero-main .hero-buttons .start {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: #003d31;
  padding: 16px 36px;
}
.hero .earth {
  position: absolute;
  top: 170px;
  left: 204px;
}
.hero .happyface {
  position: absolute;
  right: 82px;
  bottom: 312px;
}
.hero .uniona {
  position: absolute;
  left: 190px;
  top: 574px;
}
.hero .unionx {
  position: absolute;
  top: 606px;
  right: 236px;
}

.about {
  margin: 170px 124px 0px;
  padding: 0px 10px;
}
.about .about-main {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.about .about-main .about-text {
  max-width: 570px;
}
.about .about-main .about-text .about-heading {
  color: #003d31;
  font-weight: 700;
  font-size: 46px;
  line-height: 52px;
}
.about .about-main .about-text .about-heading .about-span {
  color: #5ce4ca;
}
.about .about-main .about-text .about-firstp {
  margin-top: 20px;
  color: #596966;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.about .about-main .about-text .about-secondp {
  margin-top: 16px;
  color: #596966;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.feature1-main {
  margin: 170px 124px 0px;
  padding: 0px 10px;
}
.feature1-main .feature1 {
  max-width: 1170px;
}
.feature1-main .feature1 .f1-text {
  padding: 0 300px;
  color: #003d31;
  font-weight: 700;
  font-size: 46px;
  line-height: 52px;
  text-align: center;
}
.feature1-main .feature1 .f1-text .changing {
  color: #5ce4ca;
}
.feature1-main .feature1 .f1-cardmain {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 70px;
}
.feature1-main .feature1 .f1-cardmain .f1-card {
  padding: 42px 22px;
  background-color: #fffae9;
  border: none;
  border-radius: 12px;
  max-width: 370px;
}
.feature1-main .feature1 .f1-cardmain .f1-card .f1-p {
  margin-top: 28px;
  color: #596966;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
}
.feature1-main .feature1 .f1-cardmain .f1-card .f1-p .p-span {
  color: #003d31;
  font-weight: 700;
  letter-spacing: 0%;
}

.feature2-main {
  margin: 170px 124px 0px;
  padding: 0px 10px;
}
.feature2-main .feature2 {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.feature2-main .feature2 .f2-text {
  max-width: 570px;
}
.feature2-main .feature2 .f2-text .f2-heading {
  color: #003d31;
  font-weight: 700;
  font-size: 46px;
  line-height: 52px;
}
.feature2-main .feature2 .f2-text .f2-heading .f2-span {
  color: #5ce4ca;
}
.feature2-main .feature2 .f2-text .f2-firstp {
  margin-top: 20px;
  color: #596966;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.feature2-main .feature2 .f2-text .f2-btn {
  background-color: #fffaa4;
  color: #003d31;
  border: none;
  border-radius: 6px;
  padding: 16px 36px;
  margin-top: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.banner1-main {
  margin-top: 170px;
  padding: 100px 50px;
  background-color: #ff7d7d;
}
.banner1-main .banner1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.banner1-main .banner1 .banner-a {
  width: 34px;
  height: 34px;
}
.banner1-main .banner1 .banner1-h3 {
  color: #003d31;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0%;
}

.review-main {
  padding: 100px 134px;
  background-color: #fffae9;
}
.review-main .review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  flex-direction: column;
  flex-wrap: nowrap;
}
.review-main .review .review-text {
  max-width: 570px;
  margin: 0px 300px;
}
.review-main .review .review-text .review-h {
  text-align: center;
  color: #003d31;
  font-weight: 700;
  font-size: 46px;
  line-height: 52px;
  letter-spacing: 0%;
}
.review-main .review .review-text .review-h .review-span {
  color: #5ce4ca;
}
.review-main .review .review-text .review-p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}
.review-main .review .review-cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 70px;
}
.review-main .review .review-cards .review-card {
  background-color: white;
  padding: 40px 20px;
  max-width: 370px;
  border: none;
  border-radius: 12px;
}
.review-main .review .review-cards .review-card .review-intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.review-main .review .review-cards .review-card .review-intro .intro-h {
  color: #003d31;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0%;
}
.review-main .review .review-cards .review-card .review-intro .intro-p {
  color: #596966;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
}
.review-main .review .review-cards .review-card .reviewmain-p {
  margin-top: 28px;
  color: #596966;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
}
.review-main .review .review-cards .review-card .review-quotes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 28px;
}
.review-main .review .review-cards .review-card .review-quotes .review-line {
  width: 282px;
  height: 2px;
  background-color: #dee5e4;
}
.review-main .review .review-lines {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 54px;
}
.review-main .review .review-lines .small-lines {
  width: 24px;
  height: 4px;
  background-color: #e7ddbd;
}
.review-main .review .review-lines .active {
  background-color: #003d31;
}/*# sourceMappingURL=import.css.map */