* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.hero {
  height: 100vh;
  background-color: #5ce4ca;
  background-image: url("../assets/img/image 17.png");
  background-position: center;
  position: relative;
}
.hero .navbar {
  max-width: 1190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  flex-direction: row;
  margin: 0px auto;
  padding: 32px 10px;
}
.hero .navbar .nav-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  flex-direction: row;
}
.hero .navbar .nav-logo .dialect {
  color: #003d31;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-decoration: none;
}
.hero .navbar .nav-listing {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 38px;
  flex-direction: row;
  max-width: 400px;
  color: #003d31;
}
.hero .navbar .nav-listing .nav-a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #003d31;
}
.hero .navbar .nav-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  flex-direction: row;
}
.hero .navbar .nav-btn .btn {
  padding: 8px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.hero .navbar .nav-btn .login {
  color: #003d31;
  background-color: transparent;
  border: 1px solid #003d31;
  border-radius: 4px;
}
.hero .navbar .nav-btn .signup {
  color: white;
  background-color: #003d31;
  border: 1px solid #003d31;
  border-radius: 4px;
}
.hero .hero-main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
  padding: 64px 358px 100px;
}
.hero .hero-main .dialect-brings {
  background-color: white;
  padding: 16px 38px;
  color: #003d31;
  font-weight: 500;
  font-size: 72px;
  line-height: 82px;
  text-align: center;
  border-radius: 22px;
}
.hero .hero-main .hero-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-direction: row;
}
.hero .hero-main .hero-text .language {
  margin-top: 20px;
  color: #003d31;
  background-color: #fffaa4;
  padding: 16px 38px;
  font-weight: 700;
  font-style: Bold;
  font-size: 72px;
  line-height: 82px;
  text-align: center;
  border-radius: 22px;
}
.hero .hero-main .hero-text .learning {
  margin-top: 20px;
  background-color: white;
  padding: 16px 38px;
  color: #003d31;
  font-weight: 500;
  font-size: 72px;
  line-height: 82px;
  text-align: center;
  border-radius: 22px;
}
.hero .hero-main .hero-p {
  margin-top: 28px;
  max-width: 570px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}
.hero .hero-main .hero-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex-direction: row;
  margin-top: 48px;
}
.hero .hero-main .hero-buttons .spanish-btn {
  border: none;
  background-color: white;
  padding: 16px 20px;
  border-radius: 6px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0px;
  flex-direction: row;
}
.hero .hero-main .hero-buttons .spanish-btn .flag {
  margin-right: 8px;
}
.hero .hero-main .hero-buttons .spanish-btn .spanish {
  color: #003d31;
  margin-right: 38px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}
.hero .hero-main .hero-buttons .start {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: #003d31;
  padding: 16px 36px;
}
.hero .earth {
  position: absolute;
  top: 170px;
  left: 204px;
}
.hero .happyface {
  position: absolute;
  right: 82px;
  bottom: 312px;
}
.hero .uniona {
  position: absolute;
  left: 190px;
  top: 574px;
}
.hero .unionx {
  position: absolute;
  top: 606px;
  right: 236px;
}

.about {
  margin: 170px 126px 0px;
  padding: 0px 10px;
}
.about .about-main {
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  flex-direction: row;
}
.about .about-main .about-text {
  max-width: 570px;
}
.about .about-main .about-text .about-heading {
  color: #003d31;
  font-weight: 700;
  font-size: 46px;
  line-height: 52px;
}
.about .about-main .about-text .about-heading .about-span {
  color: #5ce4ca;
}
.about .about-main .about-text .about-firstp {
  margin-top: 20px;
  color: #596966;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.about .about-main .about-text .about-secondp {
  margin-top: 16px;
  color: #596966;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}/*# sourceMappingURL=import.css.map */